<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Add Pilot</title>
	</head>
	<body>
		<h2>Hello!</h2>
		
		<h3>Tambah Pilot</h3>
		<form action="/pilot/add" th:object="${pilot}" method="post">
		  License Number:<br>
		  <input type="text" name="licenseNumber" th:field="*{licenseNumber}">
		  <br>
		  Name:<br>
		  <input type="text" name="name" th:field="*{name}">
		  <br>
		  Fly Hour:<br>
		  <input type="number" name="flyHour" th:field="*{flyHour}">
		  <br><br>
		  <input type="submit" value="Submit">
		</form>
		
	</body>
</html>

