<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Home</title>
	</head>
	<body>
		<h2>Hello!</h2>
		
		<h3>Tambah Pilot</h3>
		<td><a th:href="'/pilot/add'">Tambah</a></td>
		
		<h3>Cari Pilot berdasarkan Nomor Lisensi</h3>
		<form action="/pilot/view" method="get">
		  License Number:<br>
		  <input type="text" name="licenseNumber">
		  <button type="submit">Cari</button>
		</form>
		
		<h3>Tampilkan semua pilot</h3>
		<td><a th:href="'/pilot/viewall'">Cari</a></td>
		
	</body>
</html>