<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Add Pilot</title>
	</head>
	<body>
		<h2>Hello!</h2>
		
		<h3>Update Pilot</h3>
		<form action="/pilot/update" th:object="${pilot}" method="post">
			<input type="hidden" name="id" th:field="*{id}">
		  	<input type="hidden" name="licenseNumber" th:field="*{licenseNumber}">
		  	Name:<br>
		  	<input type="text" name="name" th:field="*{name}">
		  	<br>
		  	Fly Hour:<br>
		  	<input type="number" name="flyHour" th:field="*{flyHour}">
		  	<br><br>
		  	<input type="submit" value="Submit">
		</form>
		
	</body>
</html>