<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Pilot</title>
</head>

<body>
    <h2>Hello!</h2>

    <h3>Update Pilot</h3>
    <form th:action="@{/pilot/update}" th:object="${pilot}" method="POST">
        <input type="hidden" name="id" th:value="${pilot.id}"/>
        License Number: <br>
        <input type="text" name="licenseNumber" th:value="${pilot.licenseNumber}"/>
        <br>
        Name: <br>
        <input type="text" name="name" th:value="${pilot.name}"/>
        <br>
        Fly Hour: <br>
        <input type="number" name="flyHour" th:value="${pilot.flyHour}"/>
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>