<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Flight</title>
</head>

<body>
    <h2>Hello!</h2>

    <h3>Update Penerbangan</h3>
    <form th:action="@{/flight/update}" th:object="${flight}" method="POST">
        <input type="hidden" name="id" th:value="${flight.id}"/>
        <input type="hidden" th:field="*{pilot}"/>
        Flight Number: <br>
        <input type="text" name="flightNumber" th:value="${flight.flightNumber}"/>
        <br>
        Origin: <br>
        <input type="text" name="origin" th:value="${flight.origin}"/>
        <br>
        Destination: <br>
        <input type="text" name="destination" th:value="${flight.destination}"/>
        <br>
        Time: <br>
        <input type="date" name="time" th:value="${flight.time}"/>
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>