<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Detail</title>
	</head>
	<body>
		<div th:each="pilot : ${pilotList}">
			<h5 th:text="'Pilot License Number : ' + ${pilot.licenseNumber}"></h5>
			<h5 th:text="'Name : ' + ${pilot.name}"></h5>
			<h5 th:text="'Fly Hour : ' + ${pilot.flyHour}"></h5>
			<form action="/pilot/view" method="get">
				<input type="hidden" name="licenseNumber" th:value="*{pilot.licenseNumber}">
				<input type="submit" value="Lihat Penerbangan"></input>
			</form>
			<td><a th:href="'/pilot/update/' + ${pilot.id}">Update</a></td>
			<td><a th:href="'/pilot/delete/' + ${pilot.id}">Delete</a></td>
			<hr>
		</div>
	</body>
</html>