<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Detail</title>
	</head>
	<body>
		<h3 th:text="'Pilot License Number : ' + ${pilot.licenseNumber}"></h3>
		<h3 th:text="'Name : ' + ${pilot.name}"></h3>
		<h3 th:text="'Fly Hour : ' + ${pilot.flyHour}"></h3>
		<td><a th:href="'/flight/add/' + ${pilot.licenseNumber}">Add Flight</a></td>
		<br>
		<td><a th:href="'/pilot/update/' + ${pilot.id}">Update</a></td>
		<td><a th:href="'/pilot/delete/' + ${pilot.id}">Delete</a></td>
		
				<h3>Penerbangan :</h3>
				<ul th:each="flight,iterationStatus: ${pilot.pilotFlight}">
					<li th:text="'Flight Number : ' + ${flight.flightNumber}"></li>
					<h5 th:text="'From : ' + ${flight.origin}"></h5>
					<h5 th:text="'To : ' + ${flight.destination}"></h5>
					<h5 th:text="'Time : ' + ${flight.time}"></h5>
					<td><a th:href="'/flight/update/' + ${flight.id}">Update</a></td>
					<td><a th:href="'/flight/delete/' + ${flight.id}">Delete</a></td>
				</ul>
	</body>
</html>